<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="OrdinacijaDb" connectionString="data source=DESKTOP-BJC8ELJ\JOSIPSQL;initial catalog=Ordinacija;persist security info=True;user id=sa;password=test12345;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>