@model StomatoloskaOrdinacija.Models.IndexViewModel
@{
    ViewBag.Title = "Postavke";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Promjena postavki računa</h4>
    <hr />
    @if (Model.HasPassword)
    {
        @Html.ActionLink("Promijeni lozinku", "ChangePassword", null, new { @class = "btn btn-default" })
    }
    else
    {
        @Html.ActionLink("Izradi", "SetPassword", null, new { @class = "btn btn-default" })
    }
</div>
