@model StomatoloskaOrdinacija.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    @if (Model.HasPassword)
    {
        @Html.ActionLink("Promijeni lozinku", "ChangePassword", null, new { @class = "btn btn-default" })
    }
    else
    {
        @Html.ActionLink("Create", "SetPassword")
    }
</div>
